---
apiVersion: ols.openshift.io/v1alpha1
kind: OLSConfig
metadata:
  name: cluster
spec:
  llm:
    providers:
      - credentialsSecretRef:
          name: credentials
        models:
          - name: "{{ ocp5_workload_ols_llm_providers_models_name }}"
        name: "{{ ocp5_workload_ols_llm_providers_provide_name }}"
        type: "{{ ocp5_workload_ols_llm_providers_provide_type }}"
        url: "{{ ocp5_workload_ols_llm_providers_url }}"
  ols:
    defaultModel: "{{ ocp5_workload_ols_defaultmodel }}"
    defaultProvider: "{{ ocp5_workload_ols_defaultprovider }}"
    logLevel: "{{ ocp5_workload_ols_loglevel }}"
    introspectionEnabled: {{ ocp5_workload_ols_introspection_enabled | bool }}
